

{% extends 'base.html' %}

{% load static %}

{% block title %} Strategy {% endblock %}

{% block content %}

	
	

	<br>
	<div class="container">

		<div class="container text-center">
		  
		  <div class="row">
		    <div class="col-md-8 offset-md-2">
		    	<hr>
		    	<p>
		    		How do you buy as many stocks as you want at half price?
		    	</p>
		    	<p>
		    		This is a very interesting technique for someone who cannot afford to invest a lot as it allows them to leverage their funds, and trade with much less money but still have the same profit potential as someone with larger account. And the secret for that is "Deep in the money Options". So instead of purchasing a stock, you want to purchase "Deep in the money Call Option". The key is to look at the Delta.
		    	</p>
		    	<p>
		    		It needs to be as close to 1 as possible. It means that if the share goes up in price by a dollar – the option would go up by almost the same amount. That gives you a chance to have same gains as owning a share but instead you would invest a lot less in the option contracts. 
		    	</p>
		    	<p>
		    		So, if you buy the "Deep in the money Call Options", you would do that instead of buying a stock,
					and you would still protect your trade with a Put. So, for example, if you would buy "Deep in the money 11 strike Call Options" at 8 $ per contract, you would also buy 1,- 19 strike Put Contract to protect your trade. ( I am not sure what that means, how many  Call Options/ to Put Contract to buy.) If you want to understand it – I will provide links to courses on this website. I will be taking them myself to understand it.
		    	</p>
		    	<p>
		    		That's the secret to controlling as many shares as you want for half the price it would cost you to purchase the shares outright!
		    	</p>
	
					<br>
					<br>
					

				<h5>DISCLAIMER</h5>
					<br>
					<br>
				<p style="text-align: left;">
					Trading stocks, options and other securities involves risk. The risk of loss in trading securities can be substantial. The risk involved with trading stocks, options and other securities are not suitable for all investors.
				</p>

				

				<p style="text-align: left;">
					The information presented on the website is for educational purposes and is not instended to be used as a sole basis of any investment decisions, nor should it be construed as advice designed to  meet the investment needs of any particular investor. 
				</p>

			

				<p style="text-align: left;">
					Nothing presented on the website constitutes legal, accounting or tax advice, or individually tailored investment advice. <br>

				</p>

				<br>
				<br>
				<br>

				
				
			</div>
		  </div>
		</div>

		
	</div>
{% endblock %}