{% extends 'base.html' %}

{% load static %}

{% block title %} Strategy {% endblock %}

{% block content %}

	
	

	<br>
	<div class="container">

		<div class="container text-center">
		  
		  <div class="row">
		    <div class="col-md-8 offset-md-2">
		    	<!-- <h3>Recap</h3> -->
		    	<hr>
		    	<br>
		    	<p>1. Apply Beta 1.5</p>
		    	<p>2. Find entry point using Bollinger bands</p>
		    	<p>3. Create a Married Put by simultaneously buying shares of stock and purchasing at-the-money Put options that expire in about 30-60 days.</p>
		    	<p>4. Make adjustments as the trade progresses</p>

		    	<br>
		    	<br>
				<h5>DISCLAIMER</h5>
					<br>
					
				<p style="text-align: left;">
					Trading stocks, options and other securities involves risk. The risk of loss in trading securities can be substantial. The risk involved with trading stocks, options and other securities are not suitable for all investors.
				</p>

				

				<p style="text-align: left;">
					The information presented on the website is for educational purposes and is not instended to be used as a sole basis of any investment decisions, nor should it be construed as advice designed to  meet the investment needs of any particular investor. 
				</p>

				

				<p style="text-align: left;">
					Nothing presented on the website constitutes legal, accounting or tax advice, or individually tailored investment advice. <br>

				</p>

				<br>
				<br>
				<br>

				
			
			</div>
		  </div>
		</div>

		
	</div>
{% endblock %}