{% extends 'base.html' %}

{% load static %}

{% block title %} Introduction {% endblock %}

{% block content %}
	</br>
	<div class="container">

		<div class="container text-center">
		  
		  <div class="row">
		    <div class="col-md-8 offset-md-2">
		    	<hr>
		    	<p style="text-align: left;">
					This is the story that I heard from my friend about stock market trading and his strategies. He promised to show me the exact techniques that he uses to make large sums of money on brokerage account. Being an aspiring programmer I thought this could be an interesting project for my portfolio. I gained his permission to write a website with all explanations that I will receive.<br>
					<br>
					Today I use the website myself to :
					
				</p>
				
					
				<b class="use">
					Find stocks that are ready to explode<br>
					Find the best entry price for any stock <br>
					Apply Beta<br>
					Protect trades from huge losses<br>
					Make money when stocks fall in price<br>
					Adjust loosing trades into winning trades<br>
					Protect profits<br>
					Buy stock for a half the price<br>
				</b>
				<br>

			<!-- 		<p class="" style="float: right; margin-right: 0px; font-size: 4em;">
						<a class="btn btn-outline-success me-2" href="{% url 'strategy' %}">Continue to Strategy</a>
					</p> -->
					<!-- <br>
					<br>
					<br>
					<br>
					<br> -->
					
				<!-- <h3>DISCLAIMER</h3>
					<br>
					<br>
				<p style="text-align: left;">
					Trading stocks, options and other securities involves risk. The risk of loss in trading securities can be substantial. The risk involved with trading stocks, options and other securities are not suitable for all investors.
				</p>

				

				<p style="text-align: left;">
					The information presented on the website is for educational purposes and is not instended to be used as a sole basis of any investment decisions, nor should it be construed as advice designed to  meet the investment needs of any particular investor. 
				</p>

				

				<p style="text-align: left;">
					Nothing presented on the website constitutes legal, accounting or tax advice, or individually tailored investment advice. 
				</p> -->

				
				
			</div>
		  </div>
		</div>

		
	</div>
{% endblock %}