{% extends 'base.html' %}

{% load static %}

{% block title %}Protecting_your_trade{% endblock %}

{% block content %}
	
	<br>
	<div class="container">

		<div class="container text-center">
		  
		  <div class="row">
		    <div class="col-md-8 offset-md-2">
		    	

				<hr>
				<h5> Protecting your trade:</h5>
				<br>
				<p>
					Married Put – is like purchasing insurance- you purchase a Put on a stock that you're trading to protect against a depretiation on the stock's price. These will potentially unlimit your profits while limiting your loss. If stock price declines before expiration of the option – you can eather exercise your Put option and sell your stock at the stroke price that you chose, Or you could sell your Puts for a profit.
				</p>
				<p>
					Put option gives you the right but not the obligation to sell the underlined security at a specified stroke price. 
				</p>
				<p>
					Each Put controles 100 shares of underlying security, so if you are trading 600 shares of stock – you would want to buy 6 at the money Put contracts to protect your trade. This is like purchasing an insurance against your stock. It reduces the risk yet still allowing unlimited gains. 
				</p>
				<p>
					If you are going Long a stock and you buy 1000 shares of that stock – you would samultaniously buy 10 Put contracts at the stroke price that you purchased your shares at. So even if the stock  drops in price, even if to 0, you still have the right to sell your stock at the exact price you purchased them at any time before expiration of your Put contract. The Married Put contract is a very powerful tool as you can see.
				</p>




				
				<br>

				<h5>DISCLAIMER</h5>
					<br>
					<br>
				<p style="text-align: left;">
					Trading stocks, options and other securities involves risk. The risk of loss in trading securities can be substantial. The risk involved with trading stocks, options and other securities are not suitable for all investors.
				</p>

				

				<p style="text-align: left;">
					The information presented on the website is for educational purposes and is not instended to be used as a sole basis of any investment decisions, nor should it be construed as advice designed to  meet the investment needs of any particular investor. 
				</p>

				

				<p style="text-align: left;">
					Nothing presented on the website constitutes legal, accounting or tax advice, or individually tailored investment advice. <br>

				</p>

				<br>
				<br>
				<br>

				
				<br>
				<br>
				<br>
			</div>
		  </div>
		</div>

		
	</div>



{% endblock %}